<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<h1 class="mat-display-1">
  <i class="wi wi-barometer"></i> Your Local Weather Forecast
</h1>

<p class="mat-body">Current Position: {{ lat }} / {{ lng }} </p>

<button mat-button (click)="getForecast()">Get Forecast</button>

<h1 class="mat-display-1">Seven Day Forecast</h1>

<div *ngIf="forecast | async as f" class="columns">
    <div *ngFor="let day of f.daily.data" class="column">

        <i [class]="weatherIcon(day.icon)"></i>
        <h3>{{ day.time * 1000 | date: 'MMM d'  }}</h3>
        <p>{{ day.summary }}</p>

    </div>
</div>